{% extends "layout.html" %}

{% block title %}
    Yearly View
{% endblock %}

{% block body %}
    <main class="container p-5">
        <h6>SELECT ANOTHER YEAR</h6>
        <form action="/yearly_view" method="post">
            <div class="form-group">
                <select name="year">
                    {% for i in range(yeaLength) %}
                        <option value="{{years[i]['Year']}}">{{years[i]['Year']}}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        <br>
        {% if summary == [] %}
            <h3>There are not purchases in this year</h3>
        {% else %}
            <b>Purchases</b>: {{summary[0]["Purchases"]}}<br>
            <b>Pallets Bought</b>: {{summary[0]["Pallets"]}}<br>
            <b>Total Spent</b>: {{summary[0]["Spent"]}}€<br>
            <table class="table">
                <th>
                    <tr>
                        <td><b>Link</b></td>
                        <td><b>Month</b></td>
                        <td><b>Pallets</b></td>
                        <td><b>Total (€)</b></td>
                    </tr>
                </th>
                {% for i in range(detLength) %}
                    <tr>
                        <td><a href="/monthly_view?month={{details[i]['Month']}}">Details</a></td>
                        <td>{{details[i]["Month"]}}</td>
                        <td>{{details[i]["Pallets"]}}</td>
                        <td>{{details[i]["Total"]}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </main>
{% endblock %}
